# Node
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
*.log
server/logs/

printf "\n# Google credentials\nserver/config/google_oauth.json\nserver/config/google_service_account.json\n" >> .gitignore